<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shop</h4>
                    <div class="breadcrumb__links">
                        <a href="./index.html">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

{{!-- product-details --}}
<section class="product-detail">
    <link rel="stylesheet" type="text/css" href="/css/product_detail.css" />
    <div class="board-container clearfix">

        <div class="left">

            {{!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/nike.svg" alt="logo" class="logo" />
            --}}
            <div class="product-title">
                {{result.PRODUCT_NAME}} <strong>19</strong>
            </div>

            <div class="product-description">
                {{result.PRODUCT_DESCRIPTION}}
            </div>

            <img src="{{result.PRODUCT_IMAGE}}" alt="shoe" class="product-shot animated fadeInLeft" />

            <div class="product-price">{{result.PRODUCT_PRICE}}</div>

            <div class="product-price-details">
                EMI starts from 534 + Rs 100 Delivery
            </div>


        </div> <!-- end shoe details-left -->

        <div class="right">

            <span class="product-title"> {{result.PRODUCT_NAME}} <strong>19</strong></span>

            {{!-- Câu lệnh điều kiên cho nó check thử --}}
            <span class="label">New</span>

            <div class="product-category">
                Running Collections
            </div>

            {{!-- làm theo kiểu nút bấm --}}
            <div class="product-stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star gray"></i>
                <i class="fa fa-star gray"></i>
            </div>

            <ul class="product-tabs mb 20px">
                <li class="active"><a href="#pane1">Description</a></li>
                <li><a href="#pane2">Details</a></li>
                <li><a href="#pane3">Reviews</a></li>
            </ul>

            <div class="tab-content">
                <div id="pane1" class="tab-pane active">
                    Dynamic Support and Nike Zoom Air come together for a more supportive feel with high-speed
                    responsiveness.
                </div>
                <div id="pane2" class="tab-pane">
                    gg
                </div>

                <div id="pane3" class="tab-pane">
                    gg
                </div>

                <div id="pane4" class="tab-pane">
                    gg
                </div>
            </div> <!-- end tab-content -->

            <h2 class="Size">Size</h2>
            <ul class="sizes">
                <li><a href="#">07</a></li>
                <li><a href="#">08</a></li>
                <li class="active"><a href="#">09</a></li>
                <li><a href="#">10</a></li>
                <li><a href="#">11</a></li>
            </ul>

            <h2>Colour</h2>
            <ul class="colours">
                <li class="active"><a href="#"><span class="circle blue"></span></a></li>
                <li><a href="#"><span class="circle orange"></a></li>
                <li><a href="#"><span class="circle yellow"></a></li>
                <li><a href="#"><span class="circle black"></a></li>
            </ul>

            <a href="#" class="btn btn-primary">
                Add to Cart
            </a>

            <a href="#" class="btn btn-secondary">
                Wishlist
            </a>

        </div> <!-- end shoe-details-right -->

        <div class="close-button">&times;</div>

    </div> <!-- end container -->


</section>